.edit-invoice {
  padding: 1rem;
  overflow-y: scroll;

  .back-button {
    background: none;
    border: none;
    font-weight: bold;
    color: #7c5dfa;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  h2 {
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .section {
      background: #fff;
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);

      h3 {
        margin-bottom: 1rem;
      }

      input,
      select {
        display: block;
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 6px;
      }

      .item {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        input {
          flex: 1 1 22%;
        }

        button {
          background: none;
          border: none;
          color: #ec5757;
          font-weight: bold;
        }
      }
    }

    .form-actions {
      display: flex;
      justify-content: space-between;

      button {
        padding: 0.5rem 1.5rem;
        border: none;
        border-radius: 24px;
        font-weight: bold;
        cursor: pointer;

        &:first-child {
          background: #f9fafe;
          color: #7c5dfa;
        }

        &:last-child {
          background: #7c5dfa;
          color: white;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .edit-modal-overlay {
    position: fixed;
    top: 76px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
    background-color: rgba(90, 11, 11, 0.856);
    background: transparent;
    max-width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
  }
  .edit-modal-panel {
    max-width: 500px;
    background-color: rgb(255, 255, 255);
    color: var(--text-color);
    width: 100%;
    max-height: 100vh;
    padding: 2rem;
    animation: slideIn 0.3s ease-in-out;
  }
}

@media (min-width: 1024px) {
  .edit-modal-overlay {
    position: fixed;
    top: 0;
    left: 103px;
    right: 0;
    bottom: 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
    background-color: rgba(54, 54, 54, 0.2);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .edit-modal-panel {
    max-width: 500px;
    background-color: white;
    color: var(--text-color);
    width: 100%;
    max-height: 100vh;
    padding: 2rem;
    overflow-y: auto;
    animation: slideIn 0.3s ease-in-out;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0.2;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
