<button class="back-button" (click)="goBack()">
  <img src="assets/images/icon-arrow-left.svg" alt="Back" /> Go back
</button>

<div class="edit-modal-overlay" (click)="closeOnBackdrop($event)">
  <div class="edit-modal-panel" (click)="$event.stopPropagation()">
    <div class="edit-invoice">
      <h2>Edit <span>#</span>{{ invoiceForm.get("id")?.value }}</h2>
      <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
        <div class="section">
          <h3>Bill From</h3>
          <div formGroupName="senderAddress" class="sender-address">
            <div class="street-address">
              <label for="street">Street Address</label>
              <input formControlName="street" placeholder="Street Address" />
            </div>

            <div class="address-info">
              <div>
                <label for="city">City</label><br />
                <input formControlName="city" placeholder="City" />
              </div>
              <div>
                <label for="postCode">Post Code</label><br />
                <input formControlName="postCode" placeholder="Post Code" />
              </div>
            </div>

            <div class="country">
              <label for="country">Country</label>
              <input formControlName="country" placeholder="Country" />
            </div>
          </div>
        </div>

        <div class="section">
          <h3>Bill To</h3>
          <div>
            <label for="clientName">Client's Name</label>
            <input formControlName="clientName" placeholder="Client Name" />
          </div>
          <div>
            <label for="clientEmail">Client's Email</label>
            <input formControlName="clientEmail" placeholder="Client Email" />
          </div>

          <div formGroupName="clientAddress">
            <div>
              <label for="street">Street Address</label>
              <input formControlName="street" placeholder="Street Address" />
            </div>
            <div class="address-info">
              <div>
                <label for="city">City</label>
                <input formControlName="city" placeholder="City" />
              </div>
              <div>
                <label for="postCode">Post Code</label>
                <input formControlName="postCode" placeholder="Post Code" />
              </div>
            </div>
            <div>
              <label for="country">Country</label>
              <input formControlName="country" placeholder="Country" />
            </div>
          </div>
        </div>

        <div class="section">
          <label>Invoice Date</label>
          <input
            formControlName="createdAt"
            type="date"
            [disabled]="true"
            placeholder="{{ invoiceForm.get('createdAt')?.value | date }}"
          />

          <label>Payment Terms</label>
          <select formControlName="paymentTerms">
            <option value="30">Net 30 Days</option>
            <option value="14">Net 14 Days</option>
            <option value="7">Net 7 Days</option>
            <option value="1">Net 1 Day</option>
          </select>

          <label for="description">Project/Description</label>
          <input formControlName="description" placeholder="Graphic Design" />
        </div>

        <div class="section">
          <h3 class="item-list-title">Item List</h3>
          <div class="items-container">
            <div
              class="item"
              *ngFor="let item of items.controls; let i = index"
              [formGroupName]="i"
            >
              <div class="item-list-name">
                <label for="name">Item Name</label>
                <input
                  formControlName="name"
                  placeholder="Banner Design"
                  type="text"
                />
              </div>
              <div class="item-list-info">
                <div class="item-list-quantity">
                  <label for="quantity">Qty.</label>
                  <input
                    formControlName="quantity"
                    type="number"
                    placeholder="2"
                  />
                </div>
                <div class="item-list-price">
                  <label for="price">Price</label>
                  <input
                    formControlName="price"
                    type="number"
                    placeholder="200.00"
                  />
                </div>
                <div class="item-list-total">
                  <label for="total">Total</label>
                  <input
                    formControlName="total"
                    type="number"
                    placeholder="400.00"
                    [disabled]="true"
                  />
                </div>
                <button
                  type="button"
                  (click)="removeItem(i)"
                  class="delete-item-btn"
                >
                  <img src="assets/images/icon-delete.svg" alt="Delete" />
                </button>
              </div>
            </div>
          </div>
          <div class="add-item-container">
            <button class="add-item-btn" type="button" (click)="addItem()">
              + Add New Item
            </button>
          </div>
        </div>

        <div class="form-actions">
          <button type="button" (click)="cancel()">Cancel</button>
          <button type="submit">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
