<div class="header-container">
  <div class="list-header">
    <h1>Invoices</h1>
    <p>{{ invoices.length }} invoices</p>
  </div>

  <div class="action-group">
    <div class="filter-dropdown">
       <div class="dropdown" (click)="toggleDropdown()" [class.open]="dropdownOpen">
  <span class="dropdown-label" id="responsiveText">{{filterTextConfig | textChange}}</span>
  <img src="assets/images/icon-arrow-down.svg" alt="arrow" class="dropdown-arrow" />

  <div class="dropdown-menu" *ngIf="dropdownOpen">
    <label><input type="checkbox" (change)="onStatusChange('draft', $event)" /> Draft</label>
    <label><input type="checkbox" (change)="onStatusChange('pending', $event)" /> Pending</label>
    <label><input type="checkbox" (change)="onStatusChange('paid', $event)" /> Paid</label>

  </div>
</div>
    </div>

    <button class="new-invoice-button">
      <span class="circle">
        <img src="assets/images/icon-plus.svg" alt="plus icon" />
      </span>
      {{newInvoiceTextConfig | textChange }}
    </button>
  </div>
</div>


<div class="invoice-card" *ngFor="let invoice of invoices" [routerLink]="['/invoices', invoice.id]" >
  <div class="top">
    <div class="id"><span class="client-Id">#</span>{{ invoice.id }}</div>
    <div class="client">{{ invoice.clientName }}</div>
  </div>

  <div class="middle">
    <div class="due">Due {{ invoice.paymentDue | date: 'dd MMM yyyy' }}</div>
    <div class="amount">£ {{ invoice.total | number: '1.2-2' }}</div>
  </div>

  <div class="bottom">
    <div class="status" [ngClass]="invoice.status">
      <span class="dot"></span> {{ invoice.status | titlecase }}
    </div>
  </div>

  <div class="right-arrow">
    <img src="assets/images/icon-arrow-right.svg" alt="">
  </div>
</div>


