// Primary Colors
$color-purple-light: #7C5DFA;
$color-purple: #9277FF;
$color-dark-red: #EC5757;
$color-bright-red: #FF9797;
$color-light-bg: #F8F8FB;
$color-dark-bg: #141625;

// Accent & Status
$color-draft: #373B53;
$color-paid: #33D69F;
$color-pending: #FF8F00;
$color-void: #888EB0;
$color-light-blue: #7E88C3;

// Text Colors
$color-heading: #0C0E16;
$color-body: #888EB0;
$color-white: #FFFFFF;

// Background
$color-light: #DFE3FA;
$color-background: #F8F8FB;
$color-border: #DFE3FA;
$color-main-bg: #FFFFFF;


// Font Family
$font-family-base: 'Spartan', sans-serif;


$dark-bg: #141625;
$dark-input-bg: #1E2139;
$dark-text: #FFFFFF;
$dark-label: #DFE3FA;
$dark-border: #252945;
