// Primary Colors
$color-purple-light: #7c5dfa;
$color-purple: #9277ff;
$color-dark-red: #ec5757;
$color-bright-red: #ff9797;
$color-light-bg: #f8f8fb;
$color-dark-bg: #141625;

// Accent & Status
$color-draft: #373b53;
$color-draft-dark: #292c44;
$color-paid: #33d69f;
$color-paid-dark: #1f2b3f;
$color-pending: #ff8f00;
$color-pending-dark: #2b2736;
$color-void: #888eb0;
$color-light-blue: #7e88c3;
$color-void-dark: #777f98;
// Text Colors
$color-heading: #0c0e16;
$color-body: #888eb0;
$color-white: #ffffff;

// Background
$color-light: #dfe3fa;
$color-background: #f8f8fb;
$color-border: #dfe3fa;
$color-main-bg: #ffffff;
$color-btn-bg: #f9fafe;
// Font Family
$font-family-base: "Spartan", sans-serif;

//dark mode colors
$dark-navbar: #1e2139;
$dark-bg: #141625;
$dark-input-bg: #1e2139;
$dark-text: #ffffff;
$dark-label: #dfe3fa;
$dark-border: #252945;
