// Primary Colors
$color-purple-light: #7C5DFA;
$color-purple: #9277FF;
$color-dark-red: #EC5757;
$color-bright-red: #FF9797;
$color-light-bg: #F8F8FB;
$color-dark-bg: #141625;

// Accent & Status
$color-draft: #373B53;
$color-paid: #33D69F;
$color-pending: #FF8F00;
$color-void: #888EB0;
$color-blue: #7E88C3;

// Text Colors
$color-heading: #0C0E16;
$color-body: #888EB0;
$color-white: #FFFFFF;

// Background
$color-light: #DFE3FA;
$color-background: #F8F8FB;
$color-border: #DFE3FA;


// Font Family
$font-family-base: 'Spartan', sans-serif;

// Font Sizes
$font-size-h1: 36px;
$font-size-h2: 24px;
$font-size-h3: 15px;
$font-size-h4: 12px;
$font-size-body: 13px;

// Font Weights
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

// Line Heights
$line-height-h1: 33px;
$line-height-h2: 22px;
$line-height-h3: 22px;
$line-height-body: 18px;

// Letter Spacing
$letter-spacing-h1: -1px;
$letter-spacing-h2: -0.75px;
$letter-spacing-h3: -0.25px;
$letter-spacing-body: -0.1px;


$dark-bg: #141625;
$dark-input-bg: #1E2139;
$dark-text: #FFFFFF;
$dark-label: #DFE3FA;
$dark-border: #252945;
